.modalBackground {
	inset: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	.modal {
		position: relative;
		width: 80%;
		padding: 1rem 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

		.closeBtn {
			position: absolute;
			width: 20px;
			height: 20px;
			top: 0px;
			right: 15px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			font-size: 2.5rem;
			color: red;
		}
	}
}
